<%- include('head') %>
<div id="vanta-container">
    <div class="coming-soon-container">
        <h1 class="coming-soon-title">Coming Soon...</h1>
        <h2 class="coming-soon-subheader">Welcome to ASPYRE: the next big thing in remote sales</h2>
        <h3 class="coming-soon-subheader-2"><a href="https://instagram.com/aspyremarketing" target="_blank">Follow us on Instagram</a> for all the updates. We're so glad you're here!</h3>
      </div>
</div>

<script>
    VANTA.FOG({
    el: "#vanta-container",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    highlightColor: 0xffe8f7,
    midtoneColor: 0xc594c1,
    lowlightColor: 0xae7a9f,
    baseColor: 0xb87c98,
    blurFactor: 0.70,
  speed: 2.00,
  zoom: 1.20
    })
</script>